<h1><%= @planet.name %></h1>

<% unless @planet.image.nil? %>
  <%= image_tag @planet.image, :class => 'feature' %>
<% end %>

<p>Orbit: <%= @planet.orbit %></p>
<p>Diameter: <%= @planet.diameter %></p>
<p>Mass: <%= @planet.mass %></p>
<p>Moons: <%= @planet.moons %></p>

<div class="controls">
  <%= button_to "Delete planet", planet_delete_path(@planet.id) %>
  <%= link_to "Edit planet", planet_edit_path(@planet.id) %>
</div>
